extends layout

block content

    h1 PS4: thrid-party API call
    li city: #{json.timezone}
    li today's weather in minutes: #{json.minute}
    li today's weather in hours: #{json.hours}
    li today's weather in days: #{json.days}

